In [5]:
import pandas as pd

# Define file paths
file1 = "Gold Futures Historical Data (23.01.24-22.11.24).csv"
file2 = "gold prices.csv"

# Load CSV files into DataFrames
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

# Merge the data (append one after the other)
merged_df = pd.concat([df1, df2], ignore_index=True)

# Save the merged data to an Excel file
output_file = "merged_gold_prices.xlsx"
merged_df.to_excel(output_file, index=False)

# Display success message
print(f"Merged file saved as: {output_file}")

Merged file saved as: merged_gold_prices.xlsx

In [16]:
import pandas as pd

# Load the merged Excel file
file_path = "merged_gold_prices.xlsx"
df = pd.read_excel(file_path)

# Remove specified columns
columns_to_remove = ["Change %", "Vol.", "Price"]
df.drop(columns=columns_to_remove, errors="ignore", inplace=True)  # Modify DataFrame in place

# Save the updated data back to the same file
df.to_excel(file_path, index=False)

print(f"Updated file saved as: {file_path}")

Updated file saved as: merged_gold_prices.xlsx

In [18]:
df = pd.read_excel("merged_gold_prices.xlsx")
print(df.head())  # Check the first few rows

         Date      Open      High       Low Close/Last   Volume
0  11/22/2024  2,671.20  2,701.60  2,670.85   2,699.70      NaN
1  11/21/2024  2,653.50  2,676.50  2,651.60   2,674.90  186.30K
2  11/20/2024  2,635.80  2,659.00  2,621.90   2,651.70  182.01K
3  11/19/2024  2,616.30  2,643.40  2,614.20   2,631.00  202.24K
4  11/18/2024  2,571.50  2,619.50  2,568.50   2,614.60  195.29K

In [20]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

# Check for null values in each column
null_values = df.isnull().sum()
print("\nNull values in each column:")
print(null_values)

Number of duplicate rows: 0

Null values in each column:
Date           0
Open           0
High           0
Low            0
Close/Last     0
Volume        31
dtype: int64

In [22]:
# Remove rows with null values
df_cleaned = df.dropna()

# Save back to the same file
df_cleaned.to_excel(file_path, index=False)

print(f"Rows with null values removed. Updated file saved as: {file_path}")

Rows with null values removed. Updated file saved as: merged_gold_prices.xlsx

In [43]:
df = pd.read_excel("merged_gold_prices.xlsx")
print(df.head())  # Check the first few rows

         Date      Open      High       Low Close/Last   Volume
0  11/21/2024  2,653.50  2,676.50  2,651.60   2,674.90  186.30K
1  11/20/2024  2,635.80  2,659.00  2,621.90   2,651.70  182.01K
2  11/19/2024  2,616.30  2,643.40  2,614.20   2,631.00  202.24K
3  11/18/2024  2,571.50  2,619.50  2,568.50   2,614.60  195.29K
4  11/15/2024  2,570.40  2,580.80  2,558.90   2,570.10  179.89K

In [47]:
# Load the Excel file
file_path = "merged_gold_prices.xlsx"
df = pd.read_excel(file_path)

# Rename 'Close/Last' to 'Price' if it exists
if 'Close/Last' in df.columns:
    df.rename(columns={'Close/Last': 'Price'}, inplace=True)

# Save the updated file
df.to_excel(file_path, index=False)

print(f"'Close/Last' column renamed to 'Price' and saved in: {file_path}")

'Close/Last' column renamed to 'Price' and saved in: merged_gold_prices.xlsx

In [49]:
df = pd.read_excel("merged_gold_prices.xlsx")
print(df.head())  # Check the first few rows

         Date      Open      High       Low     Price   Volume
0  11/21/2024  2,653.50  2,676.50  2,651.60  2,674.90  186.30K
1  11/20/2024  2,635.80  2,659.00  2,621.90  2,651.70  182.01K
2  11/19/2024  2,616.30  2,643.40  2,614.20  2,631.00  202.24K
3  11/18/2024  2,571.50  2,619.50  2,568.50  2,614.60  195.29K
4  11/15/2024  2,570.40  2,580.80  2,558.90  2,570.10  179.89K

In [57]:
import pandas as pd

# Load the Excel file
file_path = "merged_gold_prices.xlsx"  # Update this if needed
df = pd.read_excel(file_path)

# Display the first few rows to check column names
print("Columns in the dataset:", df.columns)

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Drop rows with invalid dates
df = df.dropna(subset=['Date'])

# Check if 'Close/Last' column exists and rename it to 'Price'
if 'Close/Last' in df.columns:
    df.rename(columns={'Close/Last': 'Price'}, inplace=True)

# If 'Price' column has commas, remove them and convert to numeric
df['Price'] = df['Price'].astype(str).str.replace(',', '', regex=True)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

# Drop rows with NaN values in 'Price'
df = df.dropna(subset=['Price'])

# Extract Year and Month for grouping
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

# Group by Year and Month, then calculate the average Price
df_monthly_avg = df.groupby(['Year', 'Month'], as_index=False)['Price'].mean()

# Create a new Date column representing the first day of the month
df_monthly_avg['Date'] = pd.to_datetime(df_monthly_avg[['Year', 'Month']].assign(day=1))

# Keep only Date and Price columns
df_final = df_monthly_avg[['Date', 'Price']]

# Save the cleaned data to a new Excel file
output_file_path = "holtswinter.xlsx"
df_final.to_excel(output_file_path, index=False)

print(f"Processed file saved as: {output_file_path}")
df_final.head()  # Display first few rows of final output

Columns in the dataset: Index(['Date', 'Open', 'High', 'Low', 'Price', 'Volume'], dtype='object')
Processed file saved as: holtswinter.xlsx

        Date        Price
0 2013-08-01  1391.610000
1 2013-09-01  1346.080000
2 2013-10-01  1315.572727
3 2013-11-01  1275.210000
4 2013-12-01  1223.919048

In [63]:

# Load the Excel file
file_path = "holtswinter.xlsx"
df = pd.read_excel(file_path)

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Drop rows with invalid dates
df = df.dropna(subset=['Date'])

# Remove time from Date (keep only YYYY-MM-DD)
df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')

# Remove 2013 data
df = df[df['Date'] >= '2014-01-01']

# Check if 'Close/Last' or 'Price' column exists
if 'Close/Last' in df.columns:
    df.rename(columns={'Close/Last': 'Price'}, inplace=True)

# Convert 'Price' to numeric (remove commas if any)
df['Price'] = df['Price'].astype(str).str.replace(',', '', regex=True)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

# Drop rows with NaN values in 'Price'
df = df.dropna(subset=['Price'])

# Extract Year and Month for grouping
df['Year'] = pd.to_datetime(df['Date']).dt.year
df['Month'] = pd.to_datetime(df['Date']).dt.month

# Group by Year and Month, then calculate the average Price
df_monthly_avg = df.groupby(['Year', 'Month'], as_index=False)['Price'].mean()

# Create a new Date column representing the first day of the month
df_monthly_avg['Date'] = pd.to_datetime(df_monthly_avg[['Year', 'Month']].assign(day=1)).dt.strftime('%Y-%m-%d')

# Keep only Date and Price columns
df_final = df_monthly_avg[['Date', 'Price']]

# Round Price to 2 decimal places
df_final['Price'] = df_final['Price'].round(2)

# Add December 2024 manually with a custom price (change if needed)
df_final.loc[len(df_final)] = ['2024-12-01', 2500.00]  # Example price

# Save the cleaned data back to the same file
df_final.to_excel(file_path, index=False)

# Display the top rows
print(df_final.head())

         Date    Price
0  2014-01-01  1243.46
1  2014-02-01  1300.72
2  2014-03-01  1336.53
3  2014-04-01  1298.75
4  2014-05-01  1287.81

C:\Users\Dell\AppData\Local\Temp\ipykernel_11648\4106996170.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['Price'] = df_final['Price'].round(2)
C:\Users\Dell\AppData\Local\Temp\ipykernel_11648\4106996170.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[len(df_final)] = ['2024-12-01', 2500.00]  # Example price